<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torcida que Conduz</title>
    <link rel="icon" type="image/x-icon" href="/images/pngegg (1).png">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/view/script.js" defer></script>
</head>
<body>

    <header>

        <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>

        <div class="text2">
            <h4>"Ôh Tricolor tu és minha alegria Ôh Tricolor tu és meu viver Ôh Tricolor eu amo você!"</h4>
        </div>
    </header>

    <nav>
        <a href="/view/idolos.html" class="one">Ídolos</a>
        <a href="https://loja.independentenet.com.br/?srsltid=AfmBOop1K4ELLLv8a2Bg5RTqpgGlDeK_DN0UD7oo1Q9wUH0nasvQ9dqv" class="one">Loja</a>
    
    </nav>
        

    <div>
        <img src="/images/independente.gif" alt="">

    </div>

      <section class="pag2">
        <h1>Quem Somos</h1>
        <div class="quem-somos">
            <p>
                A Torcida Independente é uma das mais tradicionais, apaixonadas e respeitadas torcidas organizadas do São Paulo Futebol Clube. Fundada em 18 de outubro de 1991, a Independente surgiu com a missão de unir os são-paulinos em uma única e poderosa voz, fortalecendo o apoio ao Tricolor Paulista tanto dentro quanto fora dos estádios. Ao longo dos anos, consolidou-se como uma das maiores e mais organizadas torcidas do Brasil, tornando-se um verdadeiro símbolo de paixão, resistência e amor incondicional pelo São Paulo.
                A Independente nasceu em um momento em que o São Paulo vivia uma fase de grandes conquistas, como os títulos da Copa Libertadores e do Mundial de Clubes da FIFA. Um grupo de jovens torcedores, inspirados pela grandeza do clube, decidiu criar uma torcida que representasse a força e a união da Fiel. Desde então, a Independente cresceu exponencialmente, ganhando destaque não apenas pelo número de integrantes, mas também pela sua organização e impacto nos estádios.
            </p>
            
        </div>
      </section>

      <div class="siteofc">
        
            <h1>Visite o site Oficial</h1>
    
      </div>
      <div class="link">
        <a href="https://independentenet.com.br/">Clique Aqui</a>
    </div>


      <footer>
        <div class="navF">
          <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="https://www.saopaulofc.net/tag/site-oficial/">Página Oficial</a></li>
            <li><a href="#">Outro Link</a></li> <!-- Adicionei um terceiro link válido -->
          </ul>
        </div>
      </footer>

    </body>
    </html>


</body>
</html>