<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torcida que Conduz</title>
    <link rel="icon" type="image/x-icon" href="/images/pngegg (1).png">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/view/script.js" defer></script>
</head>
<body>
    





    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Carrossel Pequeno e Retangular</title>
      <link rel="stylesheet" href="styles.css"> <!-- Arquivo CSS -->
    </head>
    <body>
      <div id="carrossel">
        <div id="slides">
          <div class="slide ativo">
            <img src="/images/image.png" alt="Imagem 1">
          </div>
          <div class="slide">
            <img src="/images/carrossel02.png" alt="Imagem 2">
          </div>
          <div class="slide">
            <img src="/images/mascote03.jpg" alt="Imagem 3">
          </div>
          <div class="slide">
            <img src="/images/mascote04.jpg" alt="">
          </div>
        </div>
        <button id="anterior" class="controle">&#10094;</button>
        <button id="proximo" class="controle">&#10095;</button>
      </div>
    
      <script src="script.js"></script> <!-- Arquivo JavaScript -->
    </body>
    </html>


</body>
</html>